/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix */
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.hidden {
  display: none;
}

/* Icons */
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot#iefix') format('embedded-opentype'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  padding-right: 6px;
}
.icon-facebook:before {
  content: '\e802';
}
.icon-facebook-squared:before {
  content: '\e800';
}
.icon-twitter:before {
  content: '\e801';
}
.icon-twitter-1:before {
  content: '\e804';
}
.icon-facebook-circled:before {
  content: '\e805';
}
.icon-twitter-circled:before {
  content: '\e806';
}
.icon-facebook-rect:before {
  content: '\e803';
}

/* Spacing */
.post h1,
h3,
h4,
h5,
p,
.post-body ul,
#post-list li,
pre {
  margin-bottom: 20px;
}

/* Base */
html,
body {
  height: 100%;
}

body {
  font: 16px/1 'Open Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 30px;
  /* letter-spacing: -1px; */
  color: #222;
  font-weight: bold;
}

h2 {
  font: italic 19px/1.3rem Georgia, serif;
  color: #bbb;
}

.profile #header {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
}

@media only screen and (max-width: 640px) {
  .profile #header {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0;
  }
}
.profile #logo {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.profile h1 {
  font-weight: 600; /*400*/
  letter-spacing: -2px; /*0px*/
  font-size: 3em; /*20px*/
  color: #222;
}

@media only screen and (max-width: 640px) {
  .profile h1 {
    font-size: 2em;
  }
}

.profile h2 {
  font-size: 20px;
  font-weight: 300;
  color: #aaa;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

@media only screen and (max-width: 640px) {
  h2 {
    font-size: 24px;
  }
}

.profile #header h3 {
  font-size: 14px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #808080;
}

nav.main-nav {
  padding: 20px 20px 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  text-align: right;
  z-index: 100;
}

nav.main-nav a {
  top: 8px;
  right: 6px;
  padding: 8px 12px;
  color: #5badf0;
  font-size: 13px;
  /*font-weight: bold;*/
  line-height: 1.35;
  border-radius: 3px;
}

@media only screen and (max-width: 640px) {
  nav.main-nav {
    padding: 20px 15px 0;
  }
  nav.main-nav a {
    padding: 8px 8px;
  }
}

nav.main-nav a.cta {
  background: #5badf0;
  color: #fff;
  margin-left: 12px;
}

#wrapper {
  max-width: 720px;
  margin: 0 auto;
  padding: 60px 90px 0 45px;
}

/* #wrapper.home {
  max-width: 600px;
  margin: 0 auto;
  padding: 0px 40px 20px 40px;
} */

.home #logo {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Typography */
/*Accent color*/
a,
#title,
#post-list a:hover,
#post-list li:hover .dates,
#title:hover {
  text-decoration: none;
  color: #5badf0;
  color: #5694f1;
}

p a {
  color: #5694f1;
}

/*Transitions*/
a,
#post-nav a,
#post-list a {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

ul {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
li {
  list-style-type: circle;
  list-style-position: inside;
}

/* Line Height */
#post-body,
p {
  line-height: 1.7;
}

b,
strong {
  font-weight: 500;
  color: #1e2025;
}
em,
i {
  font-style: italic;
}

#title {
  display: inline-block;
  line-height: 100%;
  font-weight: 500;
  font-size: 19px;
  margin: 0;
  padding-bottom: 20px;
}

.description {
  float: right;
  font: italic 14px/1.4rem Georgia, serif;
  color: #aaa;
}

.home h1 {
  font-size: 30px;
  letter-spacing: -1px;
  color: #222;
  font-weight: bold;
}

.home h2 {
  font: italic 19px/1.3rem Georgia, serif;
  color: #bbb;
}

.post header {
  text-align: center;
}

.post h1 {
  margin-bottom: 20px;
  color: #222;
  font: 300 32px/1.4em 'Open Sans', sans-serif;
}

.post h2 {
  margin-bottom: 30px;
  margin-top: 30px;
  font: 300 24px/1.5 'Open Sans', sans-serif;
  color: #111;
}

.post h2.headline {
  font: normal 13px/1.5em 'Open Sans', sans-serif;
  margin: -5px 0 40px 0;
  color: #b2b9be;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}

#post-list h2 {
  font: normal 17px/1.5em 'Open Sans', sans-serif;
  color: #aaa;
  max-width: 400px;
  margin-top: 2px;
}

#post-body small {
  font-size: 0.75em;
}

h3,
h4,
h5 {
  color: #333;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}
h4 {
  font-size: 16px;
  font-weight: bold;
}
h5 {
  font-size: 15px;
  font-weight: bold;
}

h6 {
  font-size: 13px;
  font-weight: bold;
  color: #666;
  margin-bottom: 6px;
}

p.small {
  color: #bbb;
  font-size: 14px;
  line-height: 1.5;
  display: block;
}

blockquote {
  padding-left: 15px;
  border-left: 3px solid #eee;
}

hr {
  display: block;
  border: none;
  height: 1px;
  margin: 40px auto;
  background: #eee;
}

span.code {
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
  font-size: 14px;
}

pre {
  font-family: 'Open Sans', sans-serif;
  white-space: pre-wrap;
  /*border: 1px solid #ddd;*/
  padding: 20px;
  background-color: #fdfdfd;
  /*font-size:14px;*/
  overflow: auto;
  border-radius: 3px;
  background: #272b2d;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 500;
  color: #d0d4d7;
}

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 1.5em;
}

th,
td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

table td,
td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

tr > td {
  border-top: 1px solid #eaeaea;
}

tr:nth-child(odd) > td {
  background: #fcfcfc;
}

thead th,
th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap;
}

img {
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
}

#header {
  border-bottom: 1px solid #eee;
}

.highlight {
  color: #2ecc71;
}

/*List on homepage*/

.list-view {
  display: table;
  width: 100%;
  margin: 0;
}

@media only screen and (min-width: 793px) {
  .list-view {
    padding: 0px 0 24px;
  }
}

@media only screen and (max-width: 792px) {
  .list-view {
    padding: 0px 16px 64px;
  }
}

@media only screen and (max-width: 640px) {
  .list-view {
    padding: 32px 0 64px;
  }
}

.list-item {
  display: table-row;
}

.list-header {
  display: table-cell;
  vertical-align: top;
}

@media only screen and (max-width: 792px) {
  .list-header {
    padding-top: 16px;
  }
}

@media only screen and (max-width: 640px) {
}

.list-header ._bubble {
  width: 72px;
  height: 72px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 14px;
  margin-right: 16px;
}

@media only screen and (min-width: 793px) {
  .list-header ._bubble {
    margin-top: 20px;
    margin-right: 32px;
  }
}

@media only screen and (max-width: 792px) {
  .list-header ._bubble {
    margin-top: 0px;
    margin-right: 16px;
    width: 56px;
    height: 56px;
  }
}

.list-detail {
  width: 100%;
  padding: 25px 0 39px;
}

@media only screen and (min-width: 793px) {
  .list-detail {
    display: table-cell;
  }
}

@media only screen and (max-width: 792px) {
  .list-detail {
    display: table-cell;
  }
}

@media only screen and (max-width: 640px) {
  .list-detail {
    display: block;

    width: 90%;
  }
}

/* Media Queries */
@media screen and (max-width: 540px) {
  #header {
    margin-bottom: 60px;
    border-bottom: 1px solid #eee;
  }
  .post {
    margin: 40px 0;
  }
  .list-item,
  .list-view {
    display: block;
    word-break: break-word;
    overflow-wrap: break-word;
  }
  #post-list,
  #archive-list {
    margin-top: 0;
  }
  #post-meta {
    margin-top: 60px;
  }

  #title {
    font-size: 17px;
  }
  #post-list .dates {
    display: none;
  }

  h1 {
    font-size: 26px;
  }
  .post h2.headline {
    font-size: 13px;
  }
  .post h1 {
    font-size: 24px;
  }
  .post h2 {
    font-size: 20px;
  }
}
